*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #698474;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
}

.cruds{
    width: 80%;
    margin: auto;  
}
.header{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
h2,p{
    margin: 10px;
}
input{
    width: 100%;
    padding: 10px 5px;
    border: none;
    margin: 7px 0px;
    background-color: #FCF8F3;
    border-radius: 5px; 
    color: #254336;  
}
input:focus{
    transform: scale(1.08);
    border: none;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price input{
    width: 22%;
}
#total{
    background-color:#6F4E37 ;
    margin-left: 5px;
    padding: 6px;
    border-radius: 6px;
    font-size: 15px;
}
#total::before{
    content: 'total: ';
    text-transform: capitalize;

}
button{
    background-color: #5A639C;
    color: white;
    width: 100%;
    padding: 9px;
    border-radius:  20px;
    border: solid 1px #FFC7ED;
    margin: 10px 0px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
button:hover{
    letter-spacing: 1.03px;
    transform: scale(1.01);
    transition: 1.1ms;
    cursor: pointer;
    background-color: #345a97;
}
.search{
    display: flex;
    justify-content: space-between;
    
}
.search button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
table th{
    text-transform: uppercase;
}